{% extends "base.html" %}
{% block start %}

<div id="carouselExampleAutoplaying" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/sd1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/sd2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/sd3.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/sd4.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row bg-info text-light">
  <div class="col-md-6">
    <div class="container-fluid text-center justify-content-center m-4  p-1 border-end border-3">
      <h1 class="py-3">Who we are</h1>
      <p class="fs-5 py-5">
        Specifically designed for Indian climatic conditions, PlastOne uPVC profiles are high on quality, functionality and aesthetics.
      </p>
      <h2 class="py-3">PlastOne - from the uPVC leader</h2>
      <p class="fs-5">Over the past 35 years, the Group has established itself as a leading player in the building material industry and is today synonymous with quality and service.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container-fluid text-center justify-content-center m-4  p-1">
      <h1 class="py-3">Why choose us
        <br/>
        for special window needs
      </h1>
      <div class="row text-uppercase fw-bold p-5">
        <div class="col-md-6 p-2">
          <div class="row">
            <div class="col">
              <img src="/static/images/icon1.webp" style="height: 100px; width: 110px;">
            </div>
            <div class="col">
              <p>Energy Saving<br/> Technologies</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-1">
          <div class="row">
            <div class="col">
              <img src="/static/images/icon2.webp" style="height: 100px; width: 100px;">
            </div>
            <div class="col">
              <p>High Light<br/> Transmittance</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-2">
          <div class="row">
            <div class="col">
              <img src="/static/images/icon3.webp" style="height: 100px; width: 110px;">
            </div>
            <div class="col">
              <p>Eco-friendly<br/> materials</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-2">
          <div class="row">
            <div class="col">
              <img src="/static/images/icon4.webp" style="height: 100px; width: 110px;">
            </div>
            <div class="col">
              <p>Modern thoughtful<br/> designs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-secondary-subtle text-dark-emphasis row text-center py-5">
  <div class="col-md-6 py-5">
    <h1 class="py-3">Vision</h1>
    <p class="py-3 fs-4">To become and remain best in class</p>
  </div>
  <div class="col-md-6 py-5">
    <h1 class="py-3">Mission</h1>
    <p class="py-3 fs-4">To shape living spaces</p>
  </div>
</div>

<div class="bg-light-subtle text-info row text-center py-5">
  <div class="col-md-6"> 
    <h1>Our Products</h1>
    <div class="d-flex justify-content-center  py-5">
      <img src="/static/images/pro1.webp" style="height: 200px; width: 200px;"> 
      <h1 class="text-dark-emphasis pt-5"> > </h1>
      <p class="fs-2 pt-3">Sliding <br/>Windows</p>
    </div>
    <div class="d-flex justify-content-center  py-5">
      <img src="/static/images/pro2.webp" style="height: 200px; width: 200px;"> 
      <h1 class="text-dark-emphasis pt-5"> > </h1>
      <p class="fs-2 pt-3">Casement <br/>Windows</p>
    </div>
    <div class="d-flex justify-content-center  py-5">
      <img src="/static/images/pro3.webp" style="height: 200px; width: 200px;"> 
      <h1 class="text-dark-emphasis pt-5"> > </h1>
      <p class="fs-2 pt-3">Combination <br/>Windows</p>
    </div>
  </div>
  <div class="col-md-6 py-5 my-5">
    <img src="/static/images/prothumb.webp" style="height: 100vh; width: 50vw;" >
  </div>
</div>

<section class="bg-secondary-subtle py-5">
  <h1 class="text-info text-center">Our Clients</h1>

  <div class="row m-5 px-5">
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c1.webp" style="height: 200px;">
    </div>
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c2.webp" style="height: 200px;">
    </div>
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c3.webp" style="height: 200px;">
    </div>
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c1.webp" style="height: 200px;">
    </div>
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c2.webp" style="height: 200px;">
    </div>
    <div class="col-md-4 justify-content-center pt-4">
      <img src="/static/images/c3.webp" style="height: 200px;">
    </div>
  </div>
</section>

<section class="justify-content-center bg-info px-5 py-4">
  <h1 class="text-center  text-light py-3">Our Projects</h1>
  <div class="p-5 m-5 justify-content-center"> 
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    <img src="/static/images/c3.webp" style="height: 200px;" class="p-2">
    
  </div>
</section>



{% endblock %}