{% extends "base.html" %}
{% block start %}

<div class="m-5 p-3">
    <p class="text-info fs-4 ps-3">Windows enhanced with stability and durability</p>
    <p class="text-secondary">PlastOne is a leading profile in the industry of <a>uPVC windows and doors in India</a>. We offer profiles depending on modern and customized requirements. Our uPVC windows and doors are tested for physical and lead-free properties. Our brands of sliding windows and doors offer compatible, versatile and functional design keeping in mind the six climatic conditions prevalent in a region. They are divided on the bases of wind speed and our products are designed to take the wind load into consideration. Our mission is to provide superior service and unforgettable experiences for our customers.</p>
</div>
<p class="text-secondary ms-5">Finest in form and functionality</p>
<div class="row m-5 mt-0">
    <div class="col-md-5">
        <h3 class="text-info">uPVC Sliding windows</h3>
        <ul class="text-secondary">
            <li>2 systems are available for flexibility</li>
            <li>Choice of 3 sliding sashes in different heights and window size</li>
            <li> Monorail type for economical version</li>
            <li>8mm overlap of sashes over the frame for practical movement and stability</li>
            <li>Options of single and multiple locking systems</li>
            <li>Additional protection with an integrated fly mesh</li>
            <li>Glass accommodation of 6&20mm thickness</li>
            <li>Glazing bead for 6mm glass with co-ex gasket</li>
            <li>Dedicated and cost-effective p-55 system for smaller window sizes</li>
        </ul>
    </div>
    <div class="col-md-7 text-secondary text-center">
        <div class="row">
            <div class="col-md-3"> 
                <p>2T - 2P <br/> Sliding</p>
                <img src="/static/images/sw1.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw2.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw3.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw4.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw5.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw6.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw7.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw8.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw9.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw10.webp" style="height: 100px;"> 
            </div>
        </div>
    </div>
</div>

<div class="row m-5 mt-0">
    <div class="col-md-5">
        <h3 class="text-info">uPVC Sliding windows</h3>
        <ul class="text-secondary">
            <li>2 systems are available for flexibility</li>
            <li>Choice of 3 sliding sashes in different heights and window size</li>
            <li> Monorail type for economical version</li>
            <li>8mm overlap of sashes over the frame for practical movement and stability</li>
            <li>Options of single and multiple locking systems</li>
            <li>Additional protection with an integrated fly mesh</li>
            <li>Glass accommodation of 6&20mm thickness</li>
            <li>Glazing bead for 6mm glass with co-ex gasket</li>
            <li>Dedicated and cost-effective p-55 system for smaller window sizes</li>
        </ul>
    </div>
    <div class="col-md-7 text-secondary text-center">
        <div class="row">
            <div class="col-md-3"> 
                <p>2T - 2P <br/> Sliding</p>
                <img src="/static/images/sw1.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw2.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw3.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw4.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw5.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw6.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw7.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw8.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw9.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw10.webp" style="height: 100px;"> 
            </div>
        </div>
    </div>
</div>

<div class="row m-5 mt-0">
    <div class="col-md-5">
        <h3 class="text-info">uPVC Sliding windows</h3>
        <ul class="text-secondary">
            <li>2 systems are available for flexibility</li>
            <li>Choice of 3 sliding sashes in different heights and window size</li>
            <li> Monorail type for economical version</li>
            <li>8mm overlap of sashes over the frame for practical movement and stability</li>
            <li>Options of single and multiple locking systems</li>
            <li>Additional protection with an integrated fly mesh</li>
            <li>Glass accommodation of 6&20mm thickness</li>
            <li>Glazing bead for 6mm glass with co-ex gasket</li>
            <li>Dedicated and cost-effective p-55 system for smaller window sizes</li>
        </ul>
    </div>
    <div class="col-md-7 text-secondary text-center">
        <div class="row">
            <div class="col-md-3"> 
                <p>2T - 2P <br/> Sliding</p>
                <img src="/static/images/sw1.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw2.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw3.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw4.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw5.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw6.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw7.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw8.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw9.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw10.webp" style="height: 100px;"> 
            </div>
        </div>
    </div>
</div>

<div class="row m-5 mt-0">
    <div class="col-md-5">
        <h3 class="text-info">uPVC Sliding windows</h3>
        <ul class="text-secondary">
            <li>2 systems are available for flexibility</li>
            <li>Choice of 3 sliding sashes in different heights and window size</li>
            <li> Monorail type for economical version</li>
            <li>8mm overlap of sashes over the frame for practical movement and stability</li>
            <li>Options of single and multiple locking systems</li>
            <li>Additional protection with an integrated fly mesh</li>
            <li>Glass accommodation of 6&20mm thickness</li>
            <li>Glazing bead for 6mm glass with co-ex gasket</li>
            <li>Dedicated and cost-effective p-55 system for smaller window sizes</li>
        </ul>
    </div>
    <div class="col-md-7 text-secondary text-center">
        <div class="row">
            <div class="col-md-3"> 
                <p>2T - 2P <br/> Sliding</p>
                <img src="/static/images/sw1.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw2.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw3.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw4.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw5.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw6.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw7.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw8.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw9.webp" style="height: 100px;"> 
            </div>
            <div class="col-md-3"> 
                <p> <br/> Sliding</p>
                <img src="/static/images/sw10.webp" style="height: 100px;"> 
            </div>
        </div>
    </div>
</div>

{% endblock %}